## SQLAlchemy Demo
* Create tables
* Bulk load data into tables
* Insert single record
* Run basic queries
* Update record
* Delete record

In [1]:
from db_driver import DBDriver

In [2]:
db_driver = DBDriver()

In [3]:
db_driver.create_tables()

In [4]:
from load_tables import LoadTables

In [5]:
load_tables = LoadTables(db_driver.engine)
load_tables.load_customers()

In [6]:
load_tables.load_addresses()

In [7]:
load_tables.load_suppliers()

### Insert a single product record

In [8]:
from sqlalchemy.orm import sessionmaker
from sqlalchemy import func, distinct, and_, or_

from data_model import Customer, Product, Supplier

In [9]:
session = sessionmaker(bind=db_driver.engine)
db_session = session()

In [10]:
products = db_session.query(Product)
print(f"Number of products: {products.count()}")

Number of products: 0

In [11]:
prod_name = 'Kit Kat'
qty = 100
price = 2.00

product = Product(product_name=prod_name, quantity=qty, price=price)
db_session.add(product)
print("added product record")

added product record

###  Don't forget to commit the data if you want to see it in the database!

In [12]:
db_session.commit()

In [13]:
products = db_session.query(Product)
print(f"Number of products: {products.count()}")
for product in products:
    print(f"product id: {product.product_id}")
    print(f"product name: {product.product_name}")
    print(f"product quantity: {product.quantity}")
    print(f"product price: {product.price}")

Number of products: 1
product id: 1
product name: Kit Kat
product quantity: 100
product price: 2.0

### Equals Example

In [14]:
equal_result = db_session.query(Supplier).filter(Supplier.supplier_name == "Ashley Miller")
for row in equal_result:
    print(f"{row.supplier_id} : {row.supplier_name}")

73 : Ashley Miller

### Like Example

In [15]:
like_result = db_session.query(Supplier).filter(Supplier.supplier_name.like("Ashley%"))
for row in like_result:
    print(f"{row.supplier_id} : {row.supplier_name}")

31 : Ashley Huynh
52 : Ashley Fox
73 : Ashley Miller

### And Example

In [16]:
and_result = db_session.query(Supplier).filter(and_(Supplier.supplier_name.like("Ashley%"), Supplier.supplier_id > 31))
for row in and_result:
    print(f"{row.supplier_id} : {row.supplier_name}")

52 : Ashley Fox
73 : Ashley Miller

### Or Example

In [17]:
or_result = db_session.query(Supplier).filter(
            or_(Supplier.supplier_name.like("Ashley%"), Supplier.supplier_id > 95))
for row in or_result:
      print(f"{row.supplier_id} : {row.supplier_name}")

31 : Ashley Huynh
52 : Ashley Fox
73 : Ashley Miller
96 : Natasha Williams
97 : Derek Barker
98 : Nicole Sullivan
99 : Barbara Nunez
100 : Andrea Martinez

### In Example

In [18]:
in_result = db_session.query(Supplier).filter(Supplier.supplier_name.in_(["Ashley Miller", "Barbara Nunez", "Donna"]))
for row in in_result:
    print(f"{row.supplier_id} : {row.supplier_name}")

73 : Ashley Miller
99 : Barbara Nunez

### Query returning only the supplier_id field

In [19]:
or_id_result = db_session.query(Supplier.supplier_id).filter(
               or_(Supplier.supplier_name.like("Ashley%"), Supplier.supplier_id > 95))
for row in or_id_result:
    print(f"{row.supplier_id}")

31
52
73
96
97
98
99
100

### Update Example

In [20]:
print("Before Update")
print(db_session.query(Supplier).filter(Supplier.supplier_name == "Paula Wells").one_or_none().supplier_name)

Before Update
Paula Wells

In [21]:
db_session.query(Supplier).filter(Supplier.supplier_name == "Paula Wells").update({Supplier.supplier_name:"Paula Miller"})
db_session.commit()

In [22]:
print("After Update")
print(db_session.query(Supplier).filter(Supplier.supplier_name == "Paula Wells").one_or_none())
print(db_session.query(Supplier).filter(Supplier.supplier_name == "Paula Miller").one_or_none().supplier_name)

After Update
None
Paula Miller

### Delete Example

In [23]:
print("Before Delete")
print(db_session.query(Supplier).filter(Supplier.supplier_name == "Amy Simmons").one_or_none().supplier_name)

Before Delete
Amy Simmons

In [24]:
db_session.query(Supplier).filter(Supplier.supplier_name == "Amy Simmons").delete()
db_session.commit()

In [25]:
print("After Delete")
print(db_session.query(Supplier).filter(Supplier.supplier_name == "Amy Simmons").one_or_none())

After Delete
None

# Questions?